.hov-but:hover span {
  color: #4f46e5;
}


.hov-but:hover svg {
    stroke: #4f46e5;
  }
  
.feed{
  padding-left: calc(50% - 850px/2);
}

.word-clip {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
} 

/* for debugging */
/* *{
  border: 1px solid red;
} */